# Created by .ignore support plugin (hsz.mobi)
.idea/.gitignore
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/mont-crime-pat-search.iml
.idea/other.xml
.idea/vcs.xml
__pycache__/
docs/
